.header{
    height:15vh;
    background-color: #e6e5df;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addbutton{

}
.addbutton:hover {
    transform: scale(1.1); /* Increase the scale when hovered */
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow when hovered */
  }

  .logo{
    height: auto;
    width: 5%;
  }

  .font-link {
    font-family: 'Hanalei Fill', cursive;
  }

.centered-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 84vh; /* Take up 80% of the viewport height */
    background-color: #FBFBFB;
  }

    
    .left-side {
        display: flex;
        justify-content: center;
        align-items: center;
        
       
      
        
    }

    .right-side {
        display: flex;
        justify-content: center;
        align-items: center;
       
      }
    .svg{
        width: 50%; /* Make the width of the SVG match the parent container's width */
        height: auto; /* Automatically adjust the height to maintain the aspect ratio */
        max-height: 50%;
    }
      
  
  .image-container {
    justify-content: space-evenly;
    border: 2px solid #007bff; /* Add a border */
    padding: 50px; /* Add padding to create space around the image */
    width: 100%; /* Ensure the container takes full width */
    height:100%;
  }
  
  .image-placeholder {
    width: 100%; /* Match the width of the image container */
    height: 300px; /* Set a fixed height or adjust as needed */
    border: 2px dashed #ccc; /* Add a dashed border to indicate a placeholder */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .remove_upload{

  }
  
.image_preview_container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-preview {
    max-width: 100%;
    
    
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .button:hover {
    transform: scale(1.01); /* Increase the scale when hovered */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow when hovered */
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .custom-file-upload {
    background-color: #007bff; /* Change the background color to your preference */
    color: #fff; /* Change the text color to your preference */
    border: 1px solid #007bff; /* Add a border for styling */
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer; /* Change the cursor to a pointer on hover */
    border-radius: 5px; /* Add border radius for rounded corners */
  }